.wrapper{
    width: 900px;
    height: 900px;
    border: solid 2px black;
    margin: auto;
    background-color: black;
}
.inline{
    background-color: green;
    width: 250px;
    height: 250px;
    border: solid 2px black;
    margin: 5px;

    display:inline-block;
    transition: all 1s;
    z-index: 0;
}

#vier{
    transition-property: width, height;
    transition-delay: 0s,2s;
    transition-duration: 2s,2s;
}

#eins:hover{
    transform: rotate(45deg);

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    z-index: 5;

}

#vier:hover{

    width: 500px;
    height: 500px;

}
body{
    background: url("stern.png");
}
