

table{
    border: 5px black solid;
    border-collapse: collapse;



}

td{
    border: 2px black solid;
    border-collapse: collapse;
    width: 600px;
    height: 50px;
}

tr:nth-child(2n+2){
    background-color: lightblue;
}

tr:first-of-type{
    font-size: xx-large;
    font-style: oblique;
    color: white;
    background-color: #232027;

}


