*{margin: 0;  padding: 0;}

body{
    background-image: url("http://1.bp.blogspot.com/-BWGebmApHK4/US4I3lur75I/AAAAAAAAAaI/HBhzAr5uV-k/s1600/10.jpg");

}


#wrapper{

    width: 1280px;

    height: 800px;
    background-color: white;
    margin: auto;
    padding: 10px;
    border: solid 1px black;

}

header{
    margin-bottom: 10px;
    width: 1280px;
    height: 100px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ea/Carrie_Underwood_Banner.jpg");
}

article{
    margin-bottom: 10px;

}

article:hover{


}

img{

    position: relative;

}

article:hover img{
    left: 500px;
    transform: scale(4);
    transition:2s;
}
.bilder{
    width: 90px;
    float: left;
    margin-right: 5px;
}


section{
    float: left;
    width: 30%;
    border: solid 1px black;
    height: 608px;
    padding: 10px;
    margin-bottom: 10px;
}

aside{
    float: right;
    border: solid 1px black;
    height: 608px;
    width: 150px;
    padding: 10px;
    margin-bottom: 10px;
}
nav{
    height: 800px;
    width: 180px;
    position: fixed;
    left: -170px;;
    border: dashed 1px black;
    font-family: sans-serif;
    font-size: xx-large;
    transition-duration: 2s;


}

nav:hover{
    transform: translate(170px,0px);
    transition-duration: 2s;
    background-color: aquamarine;


}

a{
    text-decoration: none;
}


footer{
    clear: both;
    border: solid 1px black;

}



