*{margin: 0; padding: 0;}

#mantel {
    background-color: aqua;
    max-width: 1000px;
    /*margin: 10px 200px 50px 200px;*/
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}




#head{
    background-color: deepskyblue;
    margin-bottom: 1%;
    padding: 4%
}

#links{
    float: left;
    background-color: dodgerblue;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 65%;
    padding: 1%;



}

#rechts{
    float: right;
    background-color: dodgerblue;
    width: 30%;
    padding: 1%;


}

#foot{


    clear: both;
    background-color: deepskyblue;
    margin-top: 1%;
    padding: 2%;
}
article{

    margin-bottom: 1%;
    font-family: sans-serif;
    text-align: justify;
}

#rechts>article{

    margin-bottom: 5%;
}

article>img{
    float: left;
    margin: 0 2% 0.1% 0;


}

@media screen and (max-width: 750px){
    #links{
        width: 98%;
    }   
    
    #rechts{
        width: 98%;
        float: left;
    }
}