@font-face {

    font-family: 'Indie Flower', cursive;
}

*{
    margin: 0;
    padding: 0;
}


#outline{
    height: 50%;
    width: 75%;
    margin: 0px auto auto auto;
    border: solid 2px;
}

li{
    list-style: none;

    float: left;
    width: 20%;
    text-align: center;


    margin: 0.5%;





}

a{
    text-decoration: none;
    display: block;
    border: solid 1px;
    background-color: lightgrey;
    padding-top: 5%;
    padding-bottom: 5%;
}

ul{
    padding: 0.4%;
}


section{
    display: inline-block;
    background-color: lightgray;
    float: left;
    width: 75%;
    margin: 1%;
}
article{
    margin-bottom: 5%;
    padding: 2%;

}
aside{
    background-color: lightgray;
    float: left;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;



    vertical-align: top;

}

h1{
    font-family: 'Indie Flower', cursive;
}

header > h1{
    background-color: lightgray;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0.5%;

}
article > header > h1{

    clear: both;
    text-align: left;

}

div>footer{
    margin: 0;
    background-color: lightgray;
    text-align: center;
    padding: 1%;
    vertical-align: middle;
    clear: both;
}

