.outline{
    border: solid 1px black;
    margin: 1% auto;
    padding: 1%;

}

.gruenBox{
    font-size: 30px;
    text-align: center;
    margin: 0.5%;

    background-color: green;
    border: solid 1px red;
    border-radius: 5px;


}
#box1{
    width: 80%;
    margin: auto
;




}

#box2{
    width: 48%;
    float: left;







}

#box3{
    width: 48%;
    float: left;







}

#box4{
    width: 60%;
    clear: both;
    margin: auto;





}
#bild-top{
    height: 150px;
    width: 150px;
    float: left;
}
#bild-middle{
    height: 150px;
    width: 150px;
    float: right;
}