.outline{
    border: solid 2px black;
    margin: 10px auto;

}

.gruenBox{
    font-size: 30px;
    text-align: center;
    margin: 5px;

    background-color: green;
    border: solid 2px red;
    border-radius: 5px;


}
#box1{
    width: 80%;




}

#box2{
    width: 45%;
    float: left;
    margin-right: auto;





}

#box3{
    width: 45%;
    float: left;






}

#box4{
    width: 60%;
    clear: both;
    margin: auto;
    margin-bottom: 5px;




}
#bild-top{
    height: 150px;
    width: 150px;
    float: left;
}
#bild-middle{
    height: 150px;
    width: 150px;
    float: right;
}